@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.ant-menu-item-selected {
  background-color: #6b21a894 !important;
  color: #ffffff !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #8133F1 !important;
  color: white !important;
}

.ant-picker-cell-in-view.ant-picker-cell-in-range::before {
  background-color: #E6D4FF !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #8133F1 !important;
  color: white !important;
}